
@import './theme/theme';
@import './root';
@import './components/idle';
@import './components/clock';
@import './components/greeting';
@import './components/application';
@import './components/feed';

svg {
    & * {
        stroke: var(--md-sys-color-on-primary);;
        stroke-linejoin: bevel;
        stroke-width: 2px;
        fill: none;
    }
}

button {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding: 10px 24px 10px 16px;

    background-color: var(--md-sys-color-primary);

    border-radius: 100px;
    border: none;

    color: var(--md-sys-color-on-primary);

    font-family: 'IBM Plex Mono';
    font-weight: 700;
    font-size: 14px;

    letter-spacing: .1px;

    cursor: pointer;

    & svg,
    & img {
        display: block;

        width: 18px;
        height: 18px;
    }

    &:hover {
        background-color: var(--md-sys-color-secondary-container);
        transition: background-color 175ms, color 175ms;

        color: white;

        & svg * {
            stroke: white;

            transition: stroke 175ms;
        }
    }
}

mt-dashboard {
    padding: 40px;
    display: grid;
    grid-template:
        'topbar topbar topbar topbarLast'
        'application test feed feed'
        'application test feed feed'
        'application test feed feed'
        'application test feed feed'
        'application test feed feed';
    gap: 20px;

    & button {
        grid-area: topbarLast;
        justify-self: end;
    }
}